<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= current_page.data.page_title || data.site.name %></title>
  <%= favicon_tag "favicon.ico" %>
  <%= stylesheet_link_tag "all.bundle" %>
</head>
<body class="<%= page_classes %>">
  <%= yield %>
  <%= javascript_include_tag "all.bundle" %>
</body>
</html>
